

@{
    ViewData["Title"] = "Project Page";
}

<div>
    <h3>Add developer to project</h3>
</div>

<container>
    <row>
        <form method="post">
            <div>

               <h3>
                    Title:@ViewBag.projectName.title
               </h3>
                
               
            </div>
            <div>
                @foreach (var user in ViewBag.UsersNotInProject)
                {
                    <input name="AreChecked" type="checkbox" value="@user.Id" /> @user.UserName

                    <br />
                }

            </div>


            <div>
                <input type="submit" value="submit" asp-route-Pid="@ViewBag.PId" />
            </div>
        </form>
    </row>
</container>

